<!DOCTYPE html>
<html lang="en">
    <% include partials/_head %>

<body class="container">
        <% include partials/_header %>
    <h1>
        URLS
    </h1>
    <ul>
        <% for (const shortURL in urls){ %>
        <li>           
            <%= shortURL%>  
            <a href =<%=urls[shortURL]%>><%= urls[shortURL]%> </a>
        <a href ="/urls/<%=shortURL%>" >Edit</a> 
        <form method= "POST" action="/urls/<%= shortURL %>/delete">
            <br>
        <button type = "submit">Delete</button>
        </form>
        </li>
      
        <% } %>
    </ul>

</body>

</html>